
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="'erp/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject.title }} - Detail</title>
    
</head>
<body>

    <div class="nebula-wrapper">
       
        <h1 class="stellar-title">{{ subject.title }}</h1>

        <div class="comet-hw">
            <h2> {{subject.homework}}</h2>
        </div>
    </div>

</body>
</html>
